<div class="container py-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-md-8 order-1 illo-container">
        <img src="{{ '/static/images/download/png/get-connected@3x.png'|asseturl }}" class="center-block" alt="{{ _("Get Connected") }}" />
      </div>
      <h3 class="text-primary">{{ _('Get connected') }}</h3>
      <div class="row pl-3 pr-5 text-tpo text-justify">
              <p class="text-tpo"><span class="text-bold">{{ _('If you are in a country where Tor is blocked, you can configure Tor to connect to a bridge during the setup process.') }} </span></p>
      </div>
      <div class="row pl-3 pr-5 text-tpo text-justify">
              <p class="text-tpo">{{ _('If Tor is not censored, one of the most common reasons Tor won\'t connect is an incorrect system clock. Please make sure it\'s set correctly.') }}</p>
              <h6><a href="https://support.torproject.org/{{ this.alt }}" title="{{ _('Support Portal') }}">{{ _('Read other FAQ\'s at our Support Portal') }}</a></h6>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-md-8 order-1 illo-container t">
        <img src="{{ '/static/images/download/png/stay-safe@3x.png'|asseturl }}" class="center-block" alt="{{ _("Stay safe") }}" />
      </div>
      <h3 class="text-primary">{{ _('Stay safe') }}</h3>
        <div class="row pl-3 pr-5 text-tpo text-justify">
          <p class="text-tpo">{{ _('Please do not torrent over Tor.') }} <br />
           {{ _('Tor Browser will block browser plugins such as Flash, RealPlayer, QuickTime, and others: they can be manipulated into revealing your IP address.') }}</p>
        </div>
        <div class="row pl-3 pr-5 text-tpo text-justify">
          <p class="text-tpo"><b>{{ _('We do not recommend installing additional add-ons or plugins into Tor Browser') }}</b></p>
          <p class="text-tpo">{{ _('Plugins or addons may bypass Tor or compromise your privacy. Tor Browser already comes with HTTPS Everywhere, NoScript, and other patches to protect your privacy and security.') }}</p>
        </div>
    </div>
  </div>
</div>
<br /><br />
<div class="container">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container justify-content-center mt-4">
  <div class="row justify-content-center">
    <i class="display-5 text-primary pr-3 far fa-file-alt-png"></i>
    {% from "macros/downloads.html" import render_tor_browser_manual %}
    <p class="text-primary text-tpo pl-2">{{ _('Check out the %s for more troubleshooting tips.')|format(render_tor_browser_manual())|safe  }}</p>
  </div>
</div>
<div class="container">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container justify-content-center mt-4">
  <div class="row justify-content-center">
    <i class="display-5 text-primary pr-3 fas fa-signature-png"></i><p class="text-primary text-tpo">
    <a class="mx-auto pl-2" href="{{ 'https://support.torproject.org/' + this.alt + '/tbb/how-to-verify-signature/' }}" target="_blank"><u>{{ _('How can I verify Tor Browser signature?') }}</u></a></p>
  </div>
</div>
<div class="container bg-primary mt-5">
  <div class="col-lg-8 mx-auto text-center p-5">
    <h2 class="display-4 text-white">{{ _('Stand up for privacy and freedom online.') }}</h2>
    <p class="text-white">{{ _("We're a nonprofit organization and rely on supporters like you to help us keep Tor robust and secure for millions of people worldwide.") }}</p>
    <a class="btn btn-lg btn-warning" href="https://donate.torproject.org">{{ _('Donate Now') }}</a>
  </div>
</div>
